@import url('https://fonts.googleapis.com/css2?family=Anybody:ital,wght@0,100..900;1,100..900&family=Heebo:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


body{
          font-family: "Poppins", sans-serif;
          background-color: #ffffff;
}



img{
        width: 100%;
}


.container{
            width: min(90% , 1120px);
            margin-inline: auto;
}


/* 
header{
        width: 90%;
        height: 100vh;
} */


.desktop{
                display: flex;
                justify-content: space-between;
                align-items: center;   
}



.Area{
                position: fixed;
                top: 0;
                left: 0;
                right: 0;
                z-index: 100;
                transition: all 0.3s ease;
}




.desktop-menue{
                display: flex;
                 justify-content: center;
                align-items: center;
                height: 4rem;
                background-color: rgba(106, 110, 113, 0.5);
}


.desktop-menue h1{
                color: #232d39;
                font-weight: 800;
                color: white;
}

 span{
        color: #ed563b;
 }

.desktop-menue ul li a{
        color: #191c23;
}


 .menue-link{
                margin-left: 12rem;
 }


 .menue-link ul{
            display: flex;
            gap: 0.625rem;
            list-style: none;
            
}



.menue-link ul li a{
        margin-inline: 1rem;
        text-decoration: none;
        font-size: 0.8130rem;
        font-weight: 500;
        color: rgb(255, 255, 255);
}



.menue-link a:hover{
                color: #ed563b;
}



#home{
        color: #ed563b;
}



.btn{
     padding: 0.6875rem 1.0625rem;
     border: none;
      font-size: 0.8125rem;
      text-align: center;
      background-color: #ed563b;
      color: white;
      transition: 0.3sec;
}

.btn:hover{
        background-color: #f87159;
        cursor: pointer;
}


.buton{
        padding: 0.875rem 1.25rem;
        font-size:0.9375rem;
}
 
      



.hero{
        text-align: center;
}



header .back-vedio{
        height: 100vh;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        text-align: center;
        
}


.overlay{
        background-color: rgba(18, 18, 19, 0.4);
        height: 100vh;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
}



.info-desktop{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                margin-top: 15rem;
                color: white;
                text-transform: uppercase;
                text-align: center;
                margin-left: 5.5rem;
                position: relative;
                z-index: 2;
}


.info-desktop p{
                font-size: 1.125rem;
                font-weight: 800;
                color: white;
                text-align: center;
                
}


.info-desktop h2{
                font-size: 5.25rem;
                font-weight: 800;
                margin-top: 1rem;
                margin-bottom: 0.9rem;
                text-align: center;
                color: #e4e8ed;
}




.info-gym{
                display: flex;
                flex-direction: column;
                justify-content: center;
}



.info-gym{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 10rem;
        margin-bottom: 5rem;
}


.head{
                font-size: 1.75rem;
                font-weight: 800;
                color: #232d39;
                text-transform: uppercase;
                text-align: center;
}


.png-image{
                width: 2.8125rem;
                margin: 1rem 0;
}


.para{
                font-size: 0.875rem;
                color: #7a7a7a;
                text-align: center;
}



.types-gym{
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 20px;
}


.grid{
        display: flex;
        margin-bottom: 2.5rem;
}

.grid img{
        width: 6.25rem;
        height:6.6rem;
        margin-right: 1.875rem;
}


.grid .text h4{
        font-size: 1.18rem;
        font-weight: 600;
        color: #191c23;
        margin-bottom: 0.4375rem;
}


.grid .text p{
                font-size: 0.875rem;
                color: #7a7a7a;
                margin-bottom: 0.4375rem;
}


.text a{
                font-size: 0.8125rem;
                color: #ed563b;
                text-decoration: none;
                font-weight: 500;
}


.text .anchor{
                color:#0091ff;
                text-decoration: none;
}



.type-three{
                background:url("https://templatemo.com/templates/templatemo_548_training_studio/assets/images/cta-bg.jpg")center/cover no-repeat;
                height: 70vh;
                margin-top: 7.5rem;
}


.info-three{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding-top: 7.5rem;
}


.info-three h2{
                font-size: 2.25rem;
                font-weight: 800;
                color: #fff;
                text-transform: uppercase;
}


.info-three p{
                font-size: 1rem;
                margin-top: 0.9375rem;
                margin-bottom: 1.5625rem;
                color: #fff;
}


.type-four{
        display: flex;
        gap: 3.75rem;
}



.list-train{
         flex: 1;
         position: relative;
}

#first{
        color: #ed563b;
}


.Training{
        background-color: white;
        padding: 1.875rem;
        box-shadow: 0 0 15px rgba(0,0,0,0.1);
        margin-bottom:1.6rem;
        border-radius: 0.3125rem;
       
}


.Training img{
                width: 2rem;

}


.Training span{
        font-size: 1.1875rem;
        font-weight: 600;
        display: inline-block;
        color: #232d39;
        padding-left: 0.625rem;
        position: absolute;
         right: 0.0625rem;
         left: 5rem;
}


.train-btn{
        background-color: #ed563b;
         padding: 1.25rem 1.875rem;
         border-radius: 0.3125rem;
       
}

.train-btn a{
                text-decoration: none;
                font-size: 1.1875rem;
                text-align: center;
                color: white;
                font-weight: 600;  
                padding-left: 4.3rem;    
}


.train-btn:hover{
        background-color: #f87159;
        cursor: pointer;
}


.intro-train img{
                /* width: 43.189rem; */
                /* height: 18.578125rem; */
                border-radius: 0.3125rem;
}


.intro-train h4{
        font-size: 1.4375rem;
        font-weight: 700;
        margin-bottom: 1.25rem;
        margin-top: 1.875rem;
}


.intro-train p{
        font-size: 0.875rem;
        color: #7a7a7a;
        margin-bottom: 1.75rem;
}


.intro-train button {
        font-size: 0.9375rem;
        text-transform: uppercase;
        padding: 0.75rem 1.25rem;
}



.type-five{
                background: url("https://templatemo.com/templates/templatemo_548_training_studio/assets/images/schedule-bg.jpg") center/cover no-repeat;
                height: 190vh;
}


.five-info{
                padding-top: 9rem;
}


.five-info h2{
                color: #fff;
}

.five-info p{
                color: #fff;
}

.days{
        display: flex;
        justify-content: center;
        gap: 0.75rem;
        color: #fff;
        font-size: 0.9375rem;
        padding-top: 3rem;
}


.day-para:hover{
        color: #ed563b;
        cursor: pointer;
}

.mon{
        color: #ed563b;
}



.Table{
        display: flex;
        justify-content: center;
        margin-top: 2.5rem;
}


.Table table{
                /* max-width: 900px; */
                border-collapse: collapse;
                 width: 90%;
                
}


.stil{
        padding-left: 8.75rem;
}


td{
        /* padding: 40px; */
        text-align: center;
}


table,td{
        
       
        color: white;
        font-size: 0.8125rem;
         border: 0.0625rem solid #fefefe;
         padding: 2.5rem;
}


.type-six{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: 1.875rem;
        margin-bottom: 9.375rem;
}


.Expert{
        background-color:#fff;
        border-radius: 0.3125rem;
        box-shadow: 0 0 0.9375rem rgba(0,0,0,0.1);
        padding: 2.5rem;
}


.type-six .Expert img{
        width:16.874375rem;
        height: 12.800625rem;
}



.type-six .Expert span{
        font-size: 0.8125rem;
        color: #ed563b;
        margin-top: 1.5625rem;
        margin-bottom: 0.625rem;
        font-weight: 500;
        display: block;
}


.Expert h4{
         font-size: 1.1875rem;
         margin-bottom: 1.125rem;
         color: #232d39;
         font-weight: 600;
}


.Expert p{
                font-size: 0.875rem;
                color: #7a7a7a;
                margin-bottom: 1.25rem;
}


.Expert .icons i{
                font-size:1rem;
                color: #212529;
                margin-right: 0.5rem;
}


.type-seven{
        display: flex;
         margin-bottom: 3.125rem;
}



.contact-form{
        background: url("https://templatemo.com/templates/templatemo_548_training_studio/assets/images/contact-bg.jpg") center/cover no-repeat;
        width: 50rem;
        height:28.15rem;
        padding: 1.875rem;
}


.formation{
        background-color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-inline: 0.625rem;
        margin-inline: 1.875rem;
        border-radius: 0.3125rem;
        padding-block: 1.25rem;
        font-size: 1.25rem;
       border: 0.0625rem solid #7a7a7a ;
       border: none;
}


.type-flex{
        display: flex;
        gap: 0.625rem;
}


.formation form input{
        font-size: 0.8125rem;
        color: #7a7a7a;
        width: 100%;
        height: 2.5rem;
        margin-bottom: 1.875rem;
        padding-left: 0.3125rem;
}




.formation fieldset textarea{
        resize: none;
        height: 8.125rem;
        width: 25rem;
        border: none;
        font-size: 0.9375rem;
        padding-left: 0.3125rem;
        margin-bottom: 1.875rem;
}



.btn-seven{
        margin-top: 0.625rem;
}



footer{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 1.875rem;
        font-size: 0.875rem;
}



.hamburger{
        display: none;
}



.Mobile-menue{
                display: none;
}




@media(max-widh:768px) {
               
                .Mobile-menue{
                        display: block;
                }

                .desktop-menue{
                        height: 0;
                }

             header  .desktop{
                        display: none;
                }
              
               
}

